* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  flex-grow: 1;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
.gap-1 {
  gap: 0 3rem;
}
.btn {
  display: inline-block;
  background-color: #4169e1;
  color: white;
  padding: 0.75em 1.4em;
  border-radius: 2px;
  font-size: 1.1rem;
}

/* Header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 2rem;
}

header nav ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ion-icon.menu {
  display: none;
}

/* Romman */
/* Hero section */
.hero.bg {
  background-color: #e1e6e1;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 1rem;
}

.hero-img {
  max-width: 50%;
}

.hero-img img {
  width: 100%;
  max-width: 500px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h3 {
  font-size: 3rem;
  letter-spacing: -1px;
}

.hero-content p {
  font-size: 1.1rem;
  color: #666;
  width: 70%;
  margin: 0.2rem 0 1rem 0;
}

.hero-content .btn {
  display: inline-block;
  background-color: #4169e1;
  color: white;
  padding: 0.75em 1.4em;
  border-radius: 2px;
  font-size: 1.1rem;
}

/* Footer start */
footer {
  background-color: #f6f5f2;
}
footer .container {
  padding: 2rem 1rem;
}
/* Footer end */

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: #e1e6e1;
  padding: 2rem 1rem;
  z-index: 1000;
}

.menu-overlay {
  display: none;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .menu-overlay {
    /* display: block; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }

  ion-icon.close {
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 auto 2rem auto;
    position: absolute;
    top: 10px;
    right: -30px;
  }

  .sidebar ul {
    flex-direction: column;
    align-items: baseline;
  }

  .sidebar ul li a {
    gap: 0 1rem;
    font-size: 1.1rem;
  }

  .desktop-menu {
    display: none;
  }

  .menu {
    display: inline;
  }
}

/* Screen */
@media screen and (max-width: 640px) {
  .hero-img {
    /* width: 200px; */
    max-width: 100%;
  }
}
/* Romman end */

/* Sign up page */
form.signup {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 3rem auto;
  border-radius: 5px;
  padding: 3rem 4rem;
}
form.signup input {
  border: 1px solid #333;
  padding: 0.5rem 0.6rem;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

form.signup div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 0.1rem 0;
}

form.signup button[type="submit"] {
  border: none;
  border-image: 4px;
  background-color: #4169e1;
  color: #e1e6e1;
  padding: 0.7rem 0;
  border-radius: 4px;
  font-size: 1.1rem;
}

.container.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-container div h5 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 300;
  line-height: 0.95;
}

.form-container div h5 span {
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: 400;
}

@media screen and (max-width: 640px) {
  form.signup {
    width: 100%;
  }
}

/* Sadik start */
/* Product listing */
.product-listing-parent .container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
}

.filter h4 {
  margin-bottom: 0.6rem;
  border-bottom: 1px solid lightgray;
}

.filter form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;
}

.product-listing {
  flex-grow: 1;
}

.product-listing .products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1rem;
}
.product {
  border: 1px solid rgb(238, 238, 238);
  position: relative;
  display: flex;
  flex-direction: column;
}

.product .savings-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  padding: 2px 10px;
  color: white;
}

.product-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.product-details {
  flex-grow: 1;
  padding: 1rem 0.3rem;
  display: flex;
  flex-direction: column;
}

.product-details .top {
  flex-grow: 1;
}

.product-details h5 {
  font-size: 1rem;
  font-weight: 400;
}

.product-details h6 {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 7px 0 10px 0;
}

.product-details .btn {
  font-size: 0.75rem;
  display: block;
  text-align: center;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header a {
  color: rgb(47, 47, 253);
  text-decoration: underline;
}

.product-search-form input {
  border: 1px solid lightgray;
  padding: 0.6em 0.7em;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 100%;
  margin: 2rem 0;
}

button.load-more {
  border: 1px solid #d1d1d1;
  background-color: linear-gradient(180deg, #0000 50%, #0b151e05), #fff;
  padding: 0.35em 1em;
  font-size: 1.1rem;
  color: #767676;
  border-radius: 6px;
  margin: 2rem auto;
  cursor: pointer;
}
/* Sadik end */

/* Product compare start */
.comparison-parent {
  flex-grow: 1;
}

.comparison-parent .container {
  padding: 2rem 0;
}

.loader-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  white-space: nowrap;
}

.compare-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 5px;
  display: none;
}

/* Product compare end */
